<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<!-- 	importando configuracoes default do spring boot -->
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />

<!--     additivity="false" evitar duplicacao de logs-->
    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>
    <logger name="org.hibernate.type.descriptor.sql" level="TRACE" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>
    
    <root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>